.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.header__logo-image {
    display: inline-block;
    width: 46px;
    height: 44px;
    background: url("../img/logo.png") no-repeat;
}

.header__logo:hover .header__logo-image {
    background: url("../img/logo-hover.png") no-repeat;
}


.header__logo-sign {
    display: inline-block;
}

.header__logo-sign .big {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    display: block;
    margin-bottom: 5px;
}

.header__logo-sign .small {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    display: block;
}

.header__contacts-text {
    text-align: right;
}


.header__logo:hover * {
    color: #f26522;
}